@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url(images/sakura2.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}

body h1,
h2 {
    font-family: 'Baskervville', serif;
}

h3 {
    font-family: 'Baskervville', serif;
    font-size: 15px;
}

p {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
}

        /* HEADER */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pic {
    display: flex;
    align-items: center;
}

.pic img {
    height: 100px;
    width: 100px;
    border-radius: 90px;
}

.name {
    /* margin-left: 15px; */
    text-align: center;
}

.name h1 {
    margin-bottom: 10px;
}

.name h2 {
    margin-top: 0px;
}


header h2 {
    font-family: 'Dancing Script', cursive;
}

.a-propos p {
    padding: 0px 10px;
    width: 95%;
}

            /* MAIN */


        /* LEFT SIDE */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.float {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
    width: 70%;
}


.social-media {
    display: flex;
    flex-direction: column;
}


.skill-bar{
    background-color: #f2e0f5;
    border-radius: 9999px;
    padding: 0.25rem;
}

.skill-progress{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: mediumvioletred;
    color: black;
    border-radius: 9999px;
}


.exp {
    display: flex;

}

.exp li {
    list-style: none;
}

.langues i {
    color: mediumvioletred;
}

.langues span i {
    color: #b6b5b5;
}


/* RIGHT SIDE */