@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
    /* background-image: url(images/sakura2.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}

body h1, h2{
    font-family: 'Baskervville', serif;
    font-family: 'Libre Baskerville', serif;
    color: #cc4400;
}



        /* HEADER */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body header h2{
    font-family: 'Baskervville', serif;
    font-family: 'Libre Baskerville', serif;
    font-size: 18px
}


header i{
    color: ;
}

.pic {
    display: flex;
    align-items: center;
}

.pic img {
    height: 100px;
    width: 100px;
    border-radius: 90px;
}

.name {
    /* margin-left: 15px; */
    text-align: center;
}

.name h1 {
    margin-bottom: 10px;
}

.name h2 {
    margin-top: 0px;
}


header h2 {
    font-family: 'Dancing Script', cursive;
}

.a-propos p {
    padding: 0px 10px;
    width: 95%;
}

            /* MAIN */


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-side i{
    color: #666699
}

    /* INFOS */

.info a:hover{
    color: darkmagenta;
}

.info a{
    text-decoration: none;
    color: black;
}

.infos{
    display: flex;
    flex-direction: column;
}

.infos p{
    display: flex;
	justify-content: space-between;
    width: 80%;
}

.info{
    display: flex;
    width: 70%;
 	align-items: center;
 	justify-content: space-around;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    /* border-radius: 50%;
    background-color: #b6b5b5;
    margin: auto; */
}


    /* MEDIA */

.social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-media img{
    width: 70%;
}

.social-media span{
    width: 20%;
}


    /* SKILLS*/
    
.skill-bar{
    background-color: #e1e0f5;
    border-radius: 9999px;
    padding: 0.25rem;
}

.skill-progress{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #666699;
    color: black;
    border-radius: 9999px;
}

    /* LANGUES */

.langues i {
    color: #666699;
}

.langues span i {
    color: #b6b5b5;
}

.langue p{
    display: flex;
    column-gap: 7px;
    align-items: center;
}

    /*HOBBIES*/

.hobby p{
    display: flex;
    align-items: center;
}


/* EXPERIENCES */

.exp{
    display: flex;
    align-items: center;
}

.experiences h3{
    color: #e64d00;
    font-size: 17px;
    height: 20px;
}

.exp img{
    width: 70px;
}

.exp li {
    list-style: none;
}

.exp ul{
    padding-left: 15px;
}

.exp span img{
    border-radius: 35px;
}


    /* FORMATIONS */

.form h3{
    height: 50px;
    padding-top: 5px;
}

.form span h3{
    height: 10px;
}

.form p{
    height: 30px;
    margin-top: 3px;
}

.border{
    border-bottom: 5px solid #e64d00;
}