@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/sakura2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body h1, h2{
    font-family: 'Baskervville', serif;
}

h3{
    font-family: 'Baskervville', serif;
    font-size: 15px;
}

p{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
}
            /* HEADER */

header{
    display: flex;
}

header img{
    display: flex;
    border-radius: 90px;
}

.name{
    
}

header h2{
    font-family: 'Dancing Script', cursive;
}

            /* MAIN */

main{
    display: flex;
    
}


            /* LEFT SIDE */

.left-side{
    display: flex;
}
    

.experiences{
    display: flex;
    
}

.experiences a{
    float: left;
}

            /* RIGHT SIDE */

.right-side{
    display: flex;
}